.download-btn {
    cursor: pointer;
}
input[type='checkbox'] {
    accent-color: #0F0F0F;
    border-radius: 3px;
    outline: 1px solid #FFFFFF;
    height: 25px; width: 25px;
}

button { border: 0px;}

.shutdown-icon:hover {
    content: url("../resources/shutdown-icon-red.png");
}

.title-screen-size {
    font-size: 24px;
}
.profiles-font {
    font-size: 20px;
}

.input-text-cls {
    border-style: solid;
    border-color: #7E7E7E;
    border-radius: 20px;
    background-color: #0F0F0F;
    color: #FFFFFF;
    width: 100%;
}

.content-pills {
    -webkit-transition: background 0.25 s; /* For Safari 3.0 to 6.0 */
    transition: background 0.25s; /* For modern browsers */
}

.content-pills:hover {
    background-color: #252525;
    cursor: pointer;
}
.hint-font-size {
    font-size: 8px;
}
@media screen and (max-width: 768px) {
    .hint-font-size {
        font-size: 8px;
    }
}
.side-menu-icon {
    height: 100%;
    width: 16px;
}

@media screen and (max-width: 768px) {
    .side-menu-icon {
        height: 100%;
        width: 28px;
    }
}

.hidden {
    display: none;
}

.sidebar-tab.active {
    color: #11FFC6;
}

.sidebar-tab:hover {
    color: #11FFC6;
}

a {
    color: inherit;
    text-decoration: none;
}

.color1 { color: #11FFC6; }
.color2 { color: #616EEC; }
.color3 { color: #EA2A4C; }

.profile-tab-row a.active {
    font-weight: bold;
    color: #616EEC;
}

.search-bar {
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 34px;
}

.search-bar input:focus {
    box-shadow: none;
    outline: none;
}

.search-bar button {
    display: flex;
    border: none;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: flex-start;
    margin-right: 5px;
}

.save-btn {
    padding: 4px;
    width: 100%;
    background-color: #616EEC;
    border-radius: 16px;
}

.label-size { font-size: 16px; }
.detail-size { font-size: 20px; }
.yes-btn { background: #11FFC6; }
.no-btn { background: #EA2A4C; }
.stack-top { z-index: 9; }
.content-body { position: relative; }

.popup-icon-close {
    height: 28px;
    width: 28px;
}

.open-popup {
    visibility: visible !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

.popup-bg {
    opacity: 0.6;
    width: 100%;
    position: absolute;
    height: 100%;
    background: black;
}

.popup {
    border: 2px solid #7E7E7E;
    border-radius: 16px;
    margin: auto;
    background-color: #333333;
    color: #FFFFFF;
    height: auto;
    max-width: 250px;
}

.popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
}

.title-size { font-size: 12px; }
.value-size { font-size: 40px; }
.rate-size { font-size: 16px;}
.header-size { font-size: 24px; }

.side-menu-active-border {
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #7E7E7E;
}

.icon {
    height: 100%;
    width: 28px;
}
@media screen and (max-width: 920px) {
    .icon {
        height: 100%;
        width: 20px;
    }
}

.border-container { border: 1px solid #7E7E7E !important; }
.border-top { border-top: 1px solid #7E7E7E !important; }
.border-right { border-right: 1px solid #7E7E7E !important; }
.border-bottom { border-bottom: 1px solid #7E7E7E !important; }

.border-x {
    border-top: 1px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: #7E7E7E;
}

.row-active-border {
    border-top: 0px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-style: solid;
    border-color: #7E7E7E;
}

.active-border {
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #7E7E7E;
    border-radius: 3px;
}

.p-border-bot { margin-bottom: 0px !important; }
.body-container { margin: 40px auto auto auto }

.side-menu-font {
    font-size: 20px;
}

.side-menu-divider {
    display: flex;
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #7E7E7E;
}

.side-menu {
    background-color: blue;
    height: 100%;
    width: 10%;
}

.main-body {
    background-color: green;
    height: 100%;
    width: auto;
}

body { 
    font-family: 'Rajdhani', sans-serif; 
    color: #FFFFFF;
    background-color: #0F0F0F;
}